@font-face {
    font-family: ziti;
    src: url(https://liangshengyao.top/ziti.ttf);
}

body {
    font-family: ziti;
}

.h1-1 {
    color: brown;
}

.p1 {
    color: dodgerblue;
    font-size: larger;
}

.p2 {
    color: rgb(255, 239, 177);
    background-color: rgb(86, 168, 4);
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
    display: inline-block;
}

.p3 {
    color: black;
}

.p4 {
    color: white;
}

.p5 {
    color: green;
}

.p6 {
    color: brown;
}

a:link {
    text-decoration: underline;
    color: rgb(255, 239, 177);
}

a:visited {
    color: rgb(255, 239, 177);
    text-decoration: underline;
}

a:active {
    color: rgb(255, 239, 177);
    text-decoration: underline;
}

@media (max-width:600px) {
    .h1 {
        text-align: center;
    }
}

@media (min-width:600px) {
    body {
        font-size: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ads {
        flex: 2;
    }

    .main {
        flex: 2;
    }

    .p1-1 {
        margin-left: 10px;
    }
}