body {
    background-color: black;
    color: white;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

*::-webkit-scrollbar {
    width: 0px;
}

@keyframes move {
    0% {
        margin-top: 25%;
        background-color: white;
        color: white;
    }

    100% {
        margin-top: 5%;
        background-color: white;
        color: black;
    }
}

@keyframes go {
    0% {
        background-color: black;
        color: red;
        font-size: 14px;
    }

    100% {
        background-color: aqua;
        color: black;
        font-size: 18px;
        font-weight: bolder;
    }

}

@media(max-width:600px) {
    .jinggao {
        text-align: center;
        color: red;
        font-size: 20px;
    }

    .gengxin {
        text-align: center;
        background-color: white;
        color: black;
        border-radius: 5px;
        padding: 4px;
        animation-name: move;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    .copy {
        font-size: 12px;
    }

    .hr {
        border-bottom: 8px solid black;
        border-radius: 10px;
        margin-left: 23%;
        margin-right: 23%;
    }

    .wait {
        font-size: larger;
        font-weight: bolder;
    }

    .end {
        margin-top: 20px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;

        animation-name: go;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
}

@media(min-width:600px) {
    .jinggao {
        text-align: center;
        color: red;
    }

    .gengxin {
        text-align: center;
        margin-left: 30%;
        margin-right: 30%;
        background-color: white;
        color: black;
        border-radius: 5px;
        padding: 4px;
        font-size: 20px;
        animation-name: move;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    .copy {
        font-size: 13px;
    }

    .hr {
        border-bottom: 8px solid black;
        border-radius: 10px;
        margin-left: 40%;
        margin-right: 40%;
    }

    .wait {
        font-size: larger;
        font-weight: bolder;
    }

    .end {
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 20px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;

        animation-name: go;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
}

a:link {
    text-decoration: underline;
    color: white;
    font-weight: bold;

}

a:visited {
    color: white;
    text-decoration: underline;
    font-weight: bolder;
}

a:active {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}