@font-face {
    font-family: ziti;
    src: url(https://liangshengyao.top/ziti.ttf);
}

a:link {
    font-weight: bolder;
    color: green;
}

a:visited {
    color: green;
    font-weight: bolder;
}

a:active {
    color: green;
    font-weight: bolder;
}

@media(max-width:600px) {

    html,
    body {
        height: 100%;
        font-family: ziti;
        text-align: center;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .up {
        font-size: 20px;
        background-color: brown;
        border-radius: 5px;
    }

    .main {
        font-size: 25px;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }

    .down {
        font-size: 18px;
        background-color: brown;
        border-radius: 5px;
    }
}

@media(min-width:600px) {

    html,
    body {
        height: 100%;
        font-family: ziti;
        text-align: center;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .main-m {
        display: flex;
    }

    .ads {
        flex: 2;
    }

    .main {
        flex: 2;
    }

    .up {
        font-size: 20px;
        background-color: brown;
        border-radius: 5px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .main {
        font-size: 25px;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }

    .down {
        font-size: 20px;
        background-color: brown;
        border-radius: 5px;
        margin-left: 20%;
        margin-right: 20%;
    }
}