@font-face {
    font-family: ziti;
    src: url(./ziti.ttf);
}

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: ziti;
}

*::-webkit-scrollbar {
    width: 0px;
}

a:link {
    text-decoration: underline;
    font-weight: bolder;
    color: rgb(255, 0, 212);
}

a:visited {
    color: rgb(22, 209, 222);
    text-decoration: underline;
    font-weight: bolder;
}

a:active {
    color: black;
    text-decoration: underline;
    font-weight: bolder;
}

@media (max-width:600px) {
    .pc {
        display: none;
    }

    .yd {
        display: block;
    }

    .h1-1 {
        background-color: brown;
        border-radius: 5px;
        margin-bottom: 10%;
    }

    .h1 {
        font-size: 20px;
    }

    .yd {
        font-size: 25px;
        background-color: white;
        border-radius: 10px;
        height: 580px;
        padding: 10px;
    }

    .p1 {
        font-size: small;
    }

    .img {
        background-color: brown;
        border-radius: 10px;
        padding-top: 20px;
    }

    .end {
        background-color: white;
        padding: 1px;
        border-radius: 8px;
        margin-top: 10%;
        text-align: center;
    }

    .endp {
        background: linear-gradient(to right, red, blue);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bolder;
    }
}

@media (min-width:600px) {
    .yd {
        display: none;
    }

    .pc {
        display: block;
        display: flex;
    }

    .ads {
        flex: 2;
    }

    .main {
        flex: 2;
    }

    .h1-1 {
        background-color: brown;
        border-radius: 5px;
        margin-bottom: 2%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .h1 {
        font-size: 20px;
    }

    .main {
        font-size: 25px;
        background-color: white;
        border-radius: 10px;
        padding: 10px;

    }

    .p1 {
        font-size: small;
    }

    .img {
        background-color: brown;
        border-radius: 10px;
        padding-top: 20px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .end {
        background-color: white;
        padding: 1px;
        border-radius: 8px;
        text-align: center;
        margin-top: 2%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .endp {
        background: linear-gradient(to right, red, blue);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bolder;
        font-size: 20px;
    }
}