@font-face {
    font-family: ziti;
    src: url(https://liangshengyao.top/ziti.ttf);
}

body {
    font-family: ziti, sans-serif, cursive;
}

a:link {
    text-decoration: underline;
    color: white;
}

a:visited {
    color: white;
    text-decoration: underline;
}

a:active {
    color: white;
    text-decoration: underline;
}

@media (max-width:600px) {

    html,
    body {
        height: 100%;
        font-family: ziti;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .up {
        font-size: 20px;
        color: rgb(255, 239, 177);
        background-color: brown;
    }

    .main {
        padding: 10px;
        font-size: 25px;
        border-radius: 5px;
        background-color: rgb(86, 168, 4);
    }

    .down {
        font-size: 20px;
        color: rgb(255, 239, 177);
        background-color: brown;
    }

    .up {
        margin-bottom: 30%;
    }

    .down {
        margin-top: 30%;
    }
}

@media (min-width:600px) {

    html,
    body {
        height: 100%;
        font-family: ziti;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;


    }

    .main-m {
        display: flex;
    }

    .ads {
        flex: 2;
    }

    .main {
        flex: 2;
    }

    .up {
        font-size: 20px;
        color: rgb(255, 239, 177);
        background-color: brown;
        margin-left: 20%;
        margin-right: 20%;
    }

    .main {
        padding: 10px;
        font-size: 25px;
        border-radius: 5px;
        background-color: rgb(86, 168, 4);
    }

    .down {
        font-size: 20px;
        color: rgb(255, 239, 177);
        background-color: brown;
        margin-left: 20%;
        margin-right: 20%;
    }

    .up {
        margin-bottom: 8%;
    }

    .down {
        margin-top: 8%;
    }
}