body {
    -webkit-font-smoothing: subpixel-antialiased !important;
}

@font-face {
    font-family: ziti;
    src: url(https://liangshengyao.top/ziti.ttf);
}

body {
    font-family: ziti, sans-serif, cursive;
}

a:link {
    font-weight: bolder;
    color: green;
}

a:visited {
    color: green;
    font-weight: bolder;
}

a:active {
    color: green;
    font-weight: bolder;
}


@media(max-width:600px) {
    .h1 {
        text-align: center;
        color: brown;
    }

    .main {
        margin: 10px;
        font-weight: bolder;
        font-size: larger;
        text-align: justify;
        text-justify: inter-ideograph;
        text-indent: 1em;
    }
}

@media(min-width:600px) {
    .h1 {
        text-align: center;
        color: brown;
        font-size: 100px;
    }

    .main {
        font-size: 90px;
        margin: 10px;
        font-weight: bolder;
        font-size: larger;
        text-align: justify;
        text-justify: inter-ideograph;
        text-indent: 5em;
    }
}